---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/config";
import Layout from "@/layouts/BlogPost.astro";
//microCMS呼び出し
import { getBlogs, getBlogDetail } from "@/lib/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"]
});
---

<Layout>
  <meta charset="UTF-8" />
  <ul>
    {
      posts.map((post) => (
        <li>
          <time datetime={post.publishedAt}>
            {new Date(post.publishedAt).toLocaleDateString("ja-JP")}
          </time>
          <a href={`/blog/${post.id}`}>{post.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
